<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Dashboard</title>
        <link rel="stylesheet" href="/css/admin.css">
        <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined&icon_names=content_copy,delete&display=block" rel="stylesheet" />
    </head>
    <body>
        <div class="dashBoardMain">
            <div class="topBar">
                <ul class="topnav">
                    <li>Guitar</li>
                    <li>Code</li>
                </ul>
            </div>
            <div class="sideBar">
                <ul class="sidenav">
                    <li onclick="location.href='/dash'">Home</li>
                    <li onclick="location.href='/dash/files'">File Upload</li>
                </ul>
                <button class="logout" onclick="location.href='/logout'">Logout</button>
            </div>
            <div class="containerSpace">

              <% if(type == "center"){ %>
                <%- include('partials/center.ejs') %>
              <% }else if(type == "fileUpload"){ %>
                  <%- include('partials/files.ejs') %>
              <% } %>

            </div>
        </div>
    </body>
</html>
