<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Dashboard</title>
        <link rel="stylesheet" href="/css/admin.css">
    </head>
    <body>
        <div class="dashBoardMain">
            <div class="topBar">
                <ul class="topnav">
                    <li>Guitar</li>
                    <li>Code</li>
                </ul>
            </div>
            <div class="sideBar">
                <ul class="sidenav">
                    <li>Home</li>
                    <li>File Upload</li>
                </ul>
                <button class="logout" onclick="location.href='/logout'">Logout</button>
            </div>
            <div class="containerSpace"></div>
        </div>
    </body>
</html>
