<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <style></style>
        <link rel="stylesheet" href="/css/main.css">
    </head>
    <body>
        <div>
            <div class="vignette"></div>
            <img class = "parallax background" data-speedx="-0.0009" data-speedy="-0.0005" src="/img/Background.webp" />
            <img class="parallax fireplace" data-speedx="0" data-speedy="0" src="/img/Fire.webp"/>
            <img class="parallax fireplace" data-speedx="-0.009" data-speedy="-0.0019" src="/img/Fireplace.webp"/>
            <img class="parallax fireplace" data-speedx="-0.003" data-speedy="-0.0019" src="/img/Jukebox.webp"/>
            <img class="parallax fireplace" data-speedx="-0.001" data-speedy="-0.0019" src="/img/Guitar.webp"/>
            <img class="parallax fireplace" data-speedx="-0.003" data-speedy="-0.0019" src="/img/Painting.webp"/>
            <img class="parallax fireplace" data-speedx="-0.005" data-speedy="-0.0019" src="/img/LawBooks.webp"/>
            <img class="parallax fireplace" data-speedx="-0.003" data-speedy="-0.0019" src="/img/Robe.webp"/>
            <img class="parallax fireplace" data-speedx="-0.009" data-speedy="-0.0019" src="/img/Trophies.webp"/>
            <img class="parallax fireplace" data-speedx="-0.009" data-speedy="-0.0019" src="/img/Carpet.webp"/>
            <img class="parallax fireplace" data-speedx="-0.003" data-speedy="-0.0019" src="/img/Shelf.webp"/>
            <img class="parallax fireplace" data-speedx="-0.005" data-speedy="-0.0019" src="/img/Github.webp"/>
            <img class="parallax fireplace" data-speedx="-0.005" data-speedy="-0.0019" src="/img/Linkdeln.webp"/>
            <img class="parallax fireplace" data-speedx="-0.005" data-speedy="-0.0019" src="/img/Table.webp"/>
            <img class="parallax fireplace" data-speedx="-0.003" data-speedy="-0.0019" src="/img/Computer.webp"/>
            <img class="parallax fireplace" data-speedx="-0.003" data-speedy="-0.0019" src="/img/Bookshelf.webp"/>


        </div>
        <script src="/js/main.js"></script>
    </body>
</html>
