<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="/css/admin.css">
    </head>
    <body>
        <div>
            <img class="background" src="/img/PlainBack.webp" />
            <div class="loginBox">
                <form class="form" method="POST">
                    <h1 class="title">Login</h1>
                    <input type="text" class="inpBox" placeholder="Username" name="user" required>
                    <br>
                    <input type="password" class="inpBox" placeholder="password" name="pass" required>
                    <br>
                    <input type="submit" class="buttonS" value="Check">
                </form>
            </div>
        </div>
    </body>
</html>
